    #City_Search{
       
        height: 30px;
        background-color: #dbdbdb;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;


       input { 
           height: 100%;
           width: 150px;
           border-style: none;
           background-color: rgba(219, 219, 219, 0.8);
           font-size: 20px;
           text-align: center;
           color: black !important;
           font-weight: bold;
           

        }

       i { 
        margin-left: 11px;
        margin-top: 8px;
        }

    }