#Email_Page{
    img{
        width: 100%;
        margin-bottom: -5px;
        margin-top: -5px;
    }
}

#myInput{
        background: linear-gradient(#FF79DA, #9356DC);
        color: white;
        height: auto;
        width: auto;
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 0.5px;
        border: 1px solid;
        border-radius: 40px;
        padding: 15px;
        max-width: 230px;
        min-width: 207px;
}

.Contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    button {
        background: linear-gradient(#99E2D0, #FF79DA) !important;
        margin-top: 10px;
    }
}