footer {
    #footer_blocks{
        background-color: rgb(44, 42, 42);
        height: auto;



    .footer_title{
        font-family: 'Shrikhand', cursive;
        color: white;
        margin-left: 25px;
        text-align: left;
        padding-top: 20px;
        font-size: 20px;
        }

    
    .footer_block{
        color: white;
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        text-align: left;
        margin-top: 15px;
        padding-bottom: 60px;


        a{
            text-decoration: none;
            color: white;
            margin-bottom: 8px;
        }

        #_1_{
            margin-right: 15px;
            
        }
        #_2_{
            margin-right: 11px;
        }


    }

    }

}
