header img{
    height: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
}
header{
    i{
        float: left;
        margin-top: 20px;
        margin-left: 20px;
    }
    .title_2_{
        margin-left: -48px;
    }
    a{
        text-decoration: none;
        color: black;
    }
}