#Restaurants{
    display: flex;
    flex-direction: column;
    background-color:  rgba(243, 243, 243, 0.904);
    margin-top: 70px;
    padding-bottom: 40px;


    h2 {
        text-align: left;
        margin-left: 15px;
        letter-spacing: 0.5px;
    }

    .Restaurants_list{
        figure {
            background-color: white;
            width: auto;
            height: auto;
            position: relative; 
            border-radius: 20px;
            margin: 20px 10px;
            box-shadow: 6px 5px 17px -9px rgb(0 0 0 / 75%);
            display:flex;
            

            a {
                text-decoration: none;
                color: black;
                flex-grow: 1;
            }

            img {
                height: 225px;
                width: 100%;
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;

            }

            .Nouveau_Title{
                position: absolute;
                top: 10px;
                right: 10px;     
                padding: 5px;
                background: linear-gradient(#99E2D0, #99E2D0);
                color: #419681;
                margin: 5px;
            }

            .figcaption{
                text-align: left;
                font-weight: bolder;
                letter-spacing: 0.5px;
                margin-top: 15px;
                margin-left: 10px;
                font-size: 17px;
            }


            .localisation{
                text-align: left;
                margin-left: 10px;
                margin-top: 0;
                padding-bottom: 15px;
                font-weight: lighter;
            }

            i {
                float: right;
                margin-top: -18px;
                margin-right: 25px;
                color: #747474;
                
            }



        }
        img.larger_pic{
            width: 100%;
        }
    }
}