
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: auto;
    text-align: center;
}
*{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand';
    letter-spacing: 0.5px;
}

h2{
    letter-spacing: 0.5px;
}

    body {
        margin:auto; 
        display: flex;
        flex-direction: column;
    }




    header img{
        height: 35px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #City_Search{
       
        width: 100%;
        height:30px;
        background-color: rgb(219, 219, 219);
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid rgba(114, 114, 114, 0.8);
        position: relative;


       input { 
           height: 100%;
           width: 150px;
           border-style: none;
           background-color: rgba(219, 219, 219, 0.8);
           font-size: 20px;
           text-align: center;
           color: black !important;
           font-weight: bold;
           position: relative;
           

        }

        i { 
            position: absolute;
            left: 20px;
            top: -3px;
            color: gray;
        }

    }

    #Presentation_Button{

        background-color: rgba(243, 243, 243, 0.904);
        height: auto;
        padding: 20px 0;

        h2{
            font-size: 35px;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 0;
            padding-top: 30px;
        }
        p {
            font-weight: lighter;
            text-align: center;
            margin-bottom: 30px;
        }

        button {
            background: linear-gradient(#FF79DA, #9356DC);
            color: white;
            height: auto;
            width: auto;
            font-size: 15px;
            font-weight: normal;
            letter-spacing: 0.5px;
            border: 1px solid;
            border-radius: 40px;
            padding: 15px;
            
        }
    }

    #fonctionnement_titre_items{
        margin-top: 70px;

        h2 {
            text-align: left;
            margin-left: 15px;
            letter-spacing: 0.5px;
            margin-bottom: 45px;
        }

        #items{

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .items_number{
                display: flex;
                align-items: flex-start;
                justify-content: center;
            }

            .number {
                width: 20px;
                float: left;
                border-radius: 50%;
                height: 20px;
                background-color: #9356DC;
                color: white;
                margin-top: 22px;


            }

            .items{
                background-color: rgba(243, 243, 243, 0.904);
                width: 80%;
                padding: 5px;
                margin-bottom: 25px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                border: 1px;
                padding-left: 0px;
                border-radius: 20px;
                box-shadow: 6px 5px 17px -9px rgb(0 0 0 / 75%);
                max-width: 400px;

                


                i {
                    padding-top: 17px;
                    color: rgb(116, 116, 116);
                }

                p {
                    font-weight: bold;
                    color: rgb(116, 116, 116);
                }
            }
        }

    }

    #Restaurants{
        display: flex;
        flex-direction: column;
        background-color:  rgba(243, 243, 243, 0.904);
        margin-top: 70px;
        padding-bottom: 40px;


        h2 {
            text-align: left;
            margin-left: 15px;
            letter-spacing: 0.5px;
        }

        .Restaurants_list{
            figure {
                background-color: white;
                width: auto;
                height: auto;
                position: relative; 
                border-radius: 20px;
                margin: 20px 25px;
                box-shadow: 6px 5px 17px -9px rgb(0 0 0 / 75%);

                a {
                    text-decoration: none;
                    color: black;
                }

                img {
                    height: 225px;
                    width: 100%;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;

                }

                .Nouveau_Title{
                    position: absolute;
                    top: 10px;
                    right: 10px;     
                    padding: 5px;
                    background: linear-gradient(#99E2D0, #99E2D0);
                    color: #419681;
                    margin: 5px;
                }

                .figcaption{
                    text-align: left;
                    font-weight: bolder;
                    letter-spacing: 0.5px;
                    margin-top: 15px;
                    margin-left: 10px;
                    font-size: 17px;
                }


                .localisation{
                    text-align: left;
                    margin-left: 10px;
                    margin-top: 0;
                    padding-bottom: 15px;
                    font-weight: lighter;
                }

                i {
                    float: right;
                    margin-top: -13px;
                    color: gray;
                    font-weight: lighter;
                    margin-right: 25px;
                    
                }



            }
            img.larger_pic{
                width: 100%;
            }
        }
    }

    /*Restaurants pages*/

    header{
        i{
            float: left;
            margin-top: 20px;
            margin-left: 20px;
        }
        .title_2_{
            margin-left: -48px;
        }
        a{
            text-decoration: none;
            color: black;
        }
    }


    #banner{
        img{
            width: 100%;
        }
    }

    #banner_1_{
        img{
            width: 100%;
        height: 300px;
        object-fit: cover;
        }
    }


    #Restaurant_browser{
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        margin-top: -50px;
        background-color: white;
    }


    #title{
        h1 {
            font-family: "Shrikhand";
            letter-spacing: 0.5px;
            text-align: left;
            margin-left: 20px;
        }

        i{
            float: right;
            margin-top: -65px;
            margin-right: 30px;
            color: rgb(116, 116, 116);
        }
    }

    #Entrées{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        


        .Subtitle{
            text-align: left;
            margin-left: 20px;
            color: gray;
            letter-spacing: 0.5px;
            font-size: 17px;
            position: relative;
        }
        .Subtitle:before{
                position: absolute;
                left: 0;
                top: 1.2em;
                height: 0;
                width: 50px;
                content: '';
                border-top: 3px solid #99E2D0;
        }
        .item-title{
            margin-left: 15px;
            margin-top: 10px;
            font-weight: bolder;
            font-size: 19px;
        }

        .item{
            background-color: white;
            margin-top: 20px;
            text-align: left;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 15px;
            box-shadow: 1px 0px 20px -9px rgb(0 0 0 / 75%);


            p {
                display: flex;
                justify-content: space-between;
                margin: 15px;
                font-weight: lighter;

                span{
                    font-weight: bolder;
                }
            }


        }

    }

    #Plats{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;


        .Subtitle{
            text-align: left;
            margin-left: 20px;
            color: gray;
            letter-spacing: 0.5px;
            font-size: 17px;
            position: relative;
        }
        .Subtitle:before{
                position: absolute;
                left: 0;
                top: 1.2em;
                height: 0;
                width: 50px;
                content: '';
                border-top: 3px solid #99E2D0;
        }
        .item-title{
            margin-left: 15px;
            margin-top: 10px;
            font-weight: bolder;
            font-size: 19px;
        }

        .item{
            background-color: white;
            margin-top: 20px;
            text-align: left;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 15px;
            box-shadow: 1px 0px 20px -9px rgb(0 0 0 / 75%);


            p {
                display: flex;
                justify-content: space-between;
                margin: 15px;
                font-weight: lighter;

                span{
                    font-weight: bolder;
                }
            }


        }
    }

    #DESSERTS{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;


        .Subtitle{
            text-align: left;
            margin-left: 20px;
            color: gray;
            letter-spacing: 0.5px;
            font-size: 17px;
            position: relative;
        }
        .Subtitle:before{
                position: absolute;
                left: 0;
                top: 1.2em;
                height: 0;
                width: 50px;
                content: '';
                border-top: 3px solid #99E2D0;
        }
        .item-title{
            margin-left: 15px;
            margin-top: 10px;
            font-weight: bolder;
            font-size: 19px;
        }

        .item{
            background-color: white;
            margin-top: 20px;
            text-align: left;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 15px;
            box-shadow: 1px 0px 20px -9px rgb(0 0 0 / 75%);


            p {
                display: flex;
                justify-content: space-between;
                margin: 15px;
                font-weight: lighter;

                span{
                    font-weight: bolder;
                }
            }


        }
    }

    #order_button button{
        background: linear-gradient(#FF79DA, #9356DC);
        color: white;
        height: auto;
        width: auto;
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 0.5px;
        border: 1px solid;
        border-radius: 40px;
        padding: 15px 40px 15px 40px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    footer {
        #footer_blocks{
            background-color: rgb(44, 42, 42);
            height: auto;



        .footer_title{
            font-family: 'Shrikhand', cursive;
            color: white;
            margin-left: 25px;
            text-align: left;
            padding-top: 20px;
            font-size: 20px;
            }

        
        .footer_block{
            color: white;
            display: flex;
            flex-direction: column;
            margin-left: 25px;
            text-align: left;
            margin-top: 15px;
            padding-bottom: 60px;


            a{
                text-decoration: none;
                color: white;
                margin-bottom: 8px;
            }

            #_1_{
                margin-right: 15px;
                
            }
            #_2_{
                margin-right: 11px;
            }


        }
    
        }

    }

@media screen and (min-width: 1024px){
    header img {
        height: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }


    #fonctionnement_titre_items {
        margin-top: 50px;
    }

    #items{
        justify-content: space-evenly !important;
        display: flex;
        flex-direction: unset !important;

        .items_number {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 400px;
        }
    }
    #banner img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    #banner_1_ img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    #Restaurants{
        margin-top: 50px;

        .Restaurants_list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            figure{
                
            width: 462px;

            }
        }

    }

    #PLATS {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #Entrées{
        width: 450px;
    }

    #Plats{
        width: 450px;
    }

    #DESSERTS{
        width: 450px;
    }



}

@media screen and (min-width: 1530px) {
    

    #Restaurants{
        margin-top: 50px;

        .Restaurants_list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            figure{
                
            width: 550px;

            }
        }

    }

}