@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.loader a {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 35px;
  font-family: "Shrikhand";
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loader a:before,
.loader a:after {
  content: "";
  padding: 0.9em 0.4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid #99E2D0;
  border-image: linear-gradient(45deg, #9356DC, #99E2D0) 1;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.loader a:before {
  border-color: #9356DC #9356DC rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.loader a:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #9356DC #9356DC;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
}

.loader {
  background: linear-gradient(0.25turn, #99E2D0, #9356DC);
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  position: fixed;
  z-index: 2;
  pointer-events: none;
  animation: loader 1s ease-in-out 3s forwards;
}

.fill {
  color: black;
  cursor: pointer;
}

.fill:hover {
  animation: fill 3s linear;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#Email_Page img {
  width: 100%;
  margin-bottom: -5px;
  margin-top: -5px;
}

#myInput {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  height: auto;
  width: auto;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.5px;
  border: 1px solid;
  border-radius: 40px;
  padding: 15px;
  max-width: 230px;
  min-width: 207px;
}

.Contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.Contact button {
  background: linear-gradient(#99E2D0, #FF79DA) !important;
  margin-top: 10px;
}

header img {
  height: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
}

header i {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
header .title_2_ {
  margin-left: -48px;
}
header a {
  text-decoration: none;
  color: black;
}

#Presentation_Button {
  background-color: rgba(243, 243, 243, 0.904);
  height: auto;
  padding: 20px 0;
}
#Presentation_Button h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
  padding-top: 30px;
}
#Presentation_Button p {
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;
}
#Presentation_Button button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  height: auto;
  width: auto;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.5px;
  border: 1px solid;
  border-radius: 40px;
  padding: 15px;
}
#Presentation_Button button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

#order_button button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  height: auto;
  width: auto;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.5px;
  border: 1px solid;
  border-radius: 40px;
  padding: 15px 40px 15px 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}
#order_button button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

#City_Search {
  height: 30px;
  background-color: #dbdbdb;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-left: -30px;
}
#City_Search input {
  height: 100%;
  width: 150px;
  border-style: none;
  background-color: rgba(219, 219, 219, 0.8);
  font-size: 20px;
  text-align: center;
  color: black !important;
  font-weight: bold;
}
#City_Search i {
  margin-left: 11px;
  margin-top: 8px;
}

#fonctionnement_titre_items {
  margin-top: 70px;
}
#fonctionnement_titre_items h2 {
  text-align: left;
  margin-left: 15px;
  letter-spacing: 0.5px;
  margin-bottom: 45px;
}
#fonctionnement_titre_items #items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#fonctionnement_titre_items #items .items_number {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#fonctionnement_titre_items #items .number {
  width: 20px;
  float: left;
  border-radius: 50%;
  height: 20px;
  background-color: #9356DC;
  color: white;
  margin-top: 22px;
}
#fonctionnement_titre_items #items .items {
  background-color: rgba(243, 243, 243, 0.904);
  width: 80%;
  padding: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px;
  padding-left: 0px;
  border-radius: 20px;
  box-shadow: 6px 5px 17px -9px rgba(0, 0, 0, 0.75);
  max-width: 400px;
}
#fonctionnement_titre_items #items .items:hover {
  background-color: rgba(147, 86, 220, 0.3);
  cursor: pointer;
  transform: scale(1.03);
  transition: ease 0.4s;
}
#fonctionnement_titre_items #items .items i {
  padding-top: 17px;
  color: #747474;
}
#fonctionnement_titre_items #items .items p {
  font-weight: bold;
  color: #747474;
}
#fonctionnement_titre_items #items .items_1 {
  background-color: rgba(147, 86, 220, 0.3);
  width: 80%;
  padding: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px;
  padding-left: 0px;
  border-radius: 20px;
  box-shadow: 6px 5px 17px -9px rgba(0, 0, 0, 0.75);
  max-width: 400px;
}
#fonctionnement_titre_items #items .items_1 i {
  padding-top: 17px;
  color: #747474;
}
#fonctionnement_titre_items #items .items_1 p {
  font-weight: bold;
  color: #747474;
}

#PLATS .item {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
#PLATS .item p {
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#PLATS .item span {
  margin-right: 5px;
}
#PLATS .item:hover {
  padding-right: 75px;
}
#PLATS .item:hover .cross {
  opacity: 1;
  transform: translate(-50px);
}
#PLATS .item:hover .fa-check-circle {
  transform: rotate(360deg);
}
#PLATS .cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 10px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
#PLATS .cross .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

#Entrées {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  animation: fadein 3s ease-in-out;
}
#Entrées .Subtitle {
  text-align: left;
  margin-left: 20px;
  color: gray;
  letter-spacing: 0.5px;
  font-size: 17px;
  position: relative;
}
#Entrées .Subtitle:before {
  position: absolute;
  left: 0;
  top: 1.2em;
  height: 0;
  width: 50px;
  content: "";
  border-top: 3px solid #99E2D0;
}
#Entrées .item-title {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#Entrées .item {
  background-color: white;
  margin-top: 20px;
  text-align: left;
  margin-right: 20px;
  border-radius: 15px;
  box-shadow: 1px 0px 20px -9px rgba(0, 0, 0, 0.75);
}
#Entrées .item p {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-weight: lighter;
}
#Entrées .item p span {
  font-weight: bolder;
}

#Plats {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  animation: fadein 6s ease-in-out;
}
#Plats .Subtitle {
  text-align: left;
  margin-left: 20px;
  color: gray;
  letter-spacing: 0.5px;
  font-size: 17px;
  position: relative;
}
#Plats .Subtitle:before {
  position: absolute;
  left: 0;
  top: 1.2em;
  height: 0;
  width: 50px;
  content: "";
  border-top: 3px solid #99E2D0;
}
#Plats .item-title {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#Plats .item {
  background-color: white;
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  box-shadow: 1px 0px 20px -9px rgba(0, 0, 0, 0.75);
}
#Plats .item p {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-weight: lighter;
}
#Plats .item p span {
  font-weight: bolder;
}

#DESSERTS {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  animation: fadein 9s ease-in-out;
}
#DESSERTS .Subtitle {
  text-align: left;
  margin-left: 20px;
  color: gray;
  letter-spacing: 0.5px;
  font-size: 17px;
  position: relative;
}
#DESSERTS .Subtitle:before {
  position: absolute;
  left: 0;
  top: 1.2em;
  height: 0;
  width: 50px;
  content: "";
  border-top: 3px solid #99E2D0;
}
#DESSERTS .item-title {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#DESSERTS .item {
  background-color: white;
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  box-shadow: 1px 0px 20px -9px rgba(0, 0, 0, 0.75);
}
#DESSERTS .item p {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
}
#DESSERTS .item p span {
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
}

#Restaurants {
  display: flex;
  flex-direction: column;
  background-color: rgba(243, 243, 243, 0.904);
  margin-top: 70px;
  padding-bottom: 40px;
}
#Restaurants h2 {
  text-align: left;
  margin-left: 15px;
  letter-spacing: 0.5px;
}
#Restaurants .Restaurants_list figure {
  background-color: white;
  width: auto;
  height: auto;
  position: relative;
  border-radius: 20px;
  margin: 20px 10px;
  box-shadow: 6px 5px 17px -9px rgba(0, 0, 0, 0.75);
  display: flex;
}
#Restaurants .Restaurants_list figure a {
  text-decoration: none;
  color: black;
  flex-grow: 1;
}
#Restaurants .Restaurants_list figure img {
  height: 225px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#Restaurants .Restaurants_list figure .Nouveau_Title {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background: linear-gradient(#99E2D0, #99E2D0);
  color: #419681;
  margin: 5px;
}
#Restaurants .Restaurants_list figure .figcaption {
  text-align: left;
  font-weight: bolder;
  letter-spacing: 0.5px;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 17px;
}
#Restaurants .Restaurants_list figure .localisation {
  text-align: left;
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 15px;
  font-weight: lighter;
}
#Restaurants .Restaurants_list figure i {
  float: right;
  margin-top: -18px;
  margin-right: 25px;
  color: #747474;
}
#Restaurants .Restaurants_list img.larger_pic {
  width: 100%;
}

footer #footer_blocks {
  background-color: #2c2a2a;
  height: auto;
}
footer #footer_blocks .footer_title {
  font-family: "Shrikhand", cursive;
  color: white;
  margin-left: 25px;
  text-align: left;
  padding-top: 20px;
  font-size: 20px;
}
footer #footer_blocks .footer_block {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  text-align: left;
  margin-top: 15px;
  padding-bottom: 60px;
}
footer #footer_blocks .footer_block a {
  text-decoration: none;
  color: white;
  margin-bottom: 8px;
}
footer #footer_blocks .footer_block #_1_ {
  margin-right: 15px;
}
footer #footer_blocks .footer_block #_2_ {
  margin-right: 11px;
}

body {
  margin: auto;
  text-align: center;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand";
  letter-spacing: 0.5px;
}

#title {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}

h2 {
  letter-spacing: 0.5px;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
}

#banner img {
  width: 100%;
}

#banner_1_ img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#Restaurant_browser {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin-top: -50px;
  background-color: white;
}

#title h1 {
  font-family: "Shrikhand";
  letter-spacing: 0.5px;
  text-align: left;
  margin-left: 20px;
}
#title i {
  margin-top: 25px;
  margin-right: 15px;
  color: #747474;
}

@media screen and (min-width: 1024px) {
  header img {
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #fonctionnement_titre_items {
    margin-top: 50px;
  }

  #items {
    justify-content: space-evenly !important;
    display: flex;
    flex-direction: unset !important;
  }
  #items .items_number {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
  }

  #banner img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  #banner_1_ img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  #Restaurants {
    margin-top: 50px;
  }
  #Restaurants .Restaurants_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #Restaurants .Restaurants_list figure {
    width: 462px;
  }

  #PLATS {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #Entrées {
    width: 450px;
  }

  #Plats {
    width: 450px;
  }

  #DESSERTS {
    width: 450px;
  }
}
@media screen and (min-width: 1530px) {
  #Restaurants {
    margin-top: 50px;
  }
  #Restaurants .Restaurants_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #Restaurants .Restaurants_list figure {
    width: 550px;
  }
}

/*# sourceMappingURL=style.css.map */
