@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: auto;
  text-align: center;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand";
  letter-spacing: 0.5px;
}

h2 {
  letter-spacing: 0.5px;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
}

header img {
  height: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#City_Search {
  width: 100%;
  height: 30px;
  background-color: #dbdbdb;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(114, 114, 114, 0.8);
  position: relative;
}
#City_Search input {
  height: 100%;
  width: 150px;
  border-style: none;
  background-color: rgba(219, 219, 219, 0.8);
  font-size: 20px;
  text-align: center;
  color: black !important;
  font-weight: bold;
  position: relative;
}
#City_Search i {
  position: absolute;
  left: 20px;
  top: -3px;
  color: gray;
}

#Presentation_Button {
  background-color: rgba(243, 243, 243, 0.904);
  height: auto;
  padding: 20px 0;
}
#Presentation_Button h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
  padding-top: 30px;
}
#Presentation_Button p {
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;
}
#Presentation_Button button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  height: auto;
  width: auto;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.5px;
  border: 1px solid;
  border-radius: 40px;
  padding: 15px;
}

#fonctionnement_titre_items {
  margin-top: 70px;
}
#fonctionnement_titre_items h2 {
  text-align: left;
  margin-left: 15px;
  letter-spacing: 0.5px;
  margin-bottom: 45px;
}
#fonctionnement_titre_items #items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#fonctionnement_titre_items #items .items_number {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#fonctionnement_titre_items #items .number {
  width: 20px;
  float: left;
  border-radius: 50%;
  height: 20px;
  background-color: #9356DC;
  color: white;
  margin-top: 22px;
}
#fonctionnement_titre_items #items .items {
  background-color: rgba(243, 243, 243, 0.904);
  width: 80%;
  padding: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px;
  padding-left: 0px;
  border-radius: 20px;
  box-shadow: 6px 5px 17px -9px rgba(0, 0, 0, 0.75);
  max-width: 400px;
}
#fonctionnement_titre_items #items .items i {
  padding-top: 17px;
  color: #747474;
}
#fonctionnement_titre_items #items .items p {
  font-weight: bold;
  color: #747474;
}

#Restaurants {
  display: flex;
  flex-direction: column;
  background-color: rgba(243, 243, 243, 0.904);
  margin-top: 70px;
  padding-bottom: 40px;
}
#Restaurants h2 {
  text-align: left;
  margin-left: 15px;
  letter-spacing: 0.5px;
}
#Restaurants .Restaurants_list figure {
  background-color: white;
  width: auto;
  height: auto;
  position: relative;
  border-radius: 20px;
  margin: 20px 25px;
  box-shadow: 6px 5px 17px -9px rgba(0, 0, 0, 0.75);
}
#Restaurants .Restaurants_list figure a {
  text-decoration: none;
  color: black;
}
#Restaurants .Restaurants_list figure img {
  height: 225px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#Restaurants .Restaurants_list figure .Nouveau_Title {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background: linear-gradient(#99E2D0, #99E2D0);
  color: #419681;
  margin: 5px;
}
#Restaurants .Restaurants_list figure .figcaption {
  text-align: left;
  font-weight: bolder;
  letter-spacing: 0.5px;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 17px;
}
#Restaurants .Restaurants_list figure .localisation {
  text-align: left;
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 15px;
  font-weight: lighter;
}
#Restaurants .Restaurants_list figure i {
  float: right;
  margin-top: -13px;
  color: gray;
  font-weight: lighter;
  margin-right: 25px;
}
#Restaurants .Restaurants_list img.larger_pic {
  width: 100%;
}

/*Restaurants pages*/
header i {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
header .title_2_ {
  margin-left: -48px;
}
header a {
  text-decoration: none;
  color: black;
}

#banner img {
  width: 100%;
}

#banner_1_ img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#Restaurant_browser {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin-top: -50px;
  background-color: white;
}

#title h1 {
  font-family: "Shrikhand";
  letter-spacing: 0.5px;
  text-align: left;
  margin-left: 20px;
}
#title i {
  float: right;
  margin-top: -65px;
  margin-right: 30px;
  color: #747474;
}

#Entrées {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
#Entrées .Subtitle {
  text-align: left;
  margin-left: 20px;
  color: gray;
  letter-spacing: 0.5px;
  font-size: 17px;
  position: relative;
}
#Entrées .Subtitle:before {
  position: absolute;
  left: 0;
  top: 1.2em;
  height: 0;
  width: 50px;
  content: "";
  border-top: 3px solid #99E2D0;
}
#Entrées .item-title {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 19px;
}
#Entrées .item {
  background-color: white;
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  box-shadow: 1px 0px 20px -9px rgba(0, 0, 0, 0.75);
}
#Entrées .item p {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-weight: lighter;
}
#Entrées .item p span {
  font-weight: bolder;
}

#Plats {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
#Plats .Subtitle {
  text-align: left;
  margin-left: 20px;
  color: gray;
  letter-spacing: 0.5px;
  font-size: 17px;
  position: relative;
}
#Plats .Subtitle:before {
  position: absolute;
  left: 0;
  top: 1.2em;
  height: 0;
  width: 50px;
  content: "";
  border-top: 3px solid #99E2D0;
}
#Plats .item-title {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 19px;
}
#Plats .item {
  background-color: white;
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  box-shadow: 1px 0px 20px -9px rgba(0, 0, 0, 0.75);
}
#Plats .item p {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-weight: lighter;
}
#Plats .item p span {
  font-weight: bolder;
}

#DESSERTS {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
#DESSERTS .Subtitle {
  text-align: left;
  margin-left: 20px;
  color: gray;
  letter-spacing: 0.5px;
  font-size: 17px;
  position: relative;
}
#DESSERTS .Subtitle:before {
  position: absolute;
  left: 0;
  top: 1.2em;
  height: 0;
  width: 50px;
  content: "";
  border-top: 3px solid #99E2D0;
}
#DESSERTS .item-title {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 19px;
}
#DESSERTS .item {
  background-color: white;
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  box-shadow: 1px 0px 20px -9px rgba(0, 0, 0, 0.75);
}
#DESSERTS .item p {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-weight: lighter;
}
#DESSERTS .item p span {
  font-weight: bolder;
}

#order_button button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  height: auto;
  width: auto;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.5px;
  border: 1px solid;
  border-radius: 40px;
  padding: 15px 40px 15px 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}

footer #footer_blocks {
  background-color: #2c2a2a;
  height: auto;
}
footer #footer_blocks .footer_title {
  font-family: "Shrikhand", cursive;
  color: white;
  margin-left: 25px;
  text-align: left;
  padding-top: 20px;
  font-size: 20px;
}
footer #footer_blocks .footer_block {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  text-align: left;
  margin-top: 15px;
  padding-bottom: 60px;
}
footer #footer_blocks .footer_block a {
  text-decoration: none;
  color: white;
  margin-bottom: 8px;
}
footer #footer_blocks .footer_block #_1_ {
  margin-right: 15px;
}
footer #footer_blocks .footer_block #_2_ {
  margin-right: 11px;
}

@media screen and (min-width: 1024px) {
  header img {
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #fonctionnement_titre_items {
    margin-top: 50px;
  }

  #items {
    justify-content: space-evenly !important;
    display: flex;
    flex-direction: unset !important;
  }
  #items .items_number {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
  }

  #Restaurants {
    margin-top: 50px;
  }
  #Restaurants .Restaurants_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #Restaurants .Restaurants_list figure {
    width: 462px;
  }
}
@media screen and (min-width: 1530px) {
  #Restaurants {
    margin-top: 50px;
  }
  #Restaurants .Restaurants_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #Restaurants .Restaurants_list figure {
    width: 550px;
  }
}

/*# sourceMappingURL=style.css.map */
